@model Ionici_Floriana_Proiect.Models.BakeryViewModels.OwnersIndexData
@{ ViewData["Name"] = "Owners"; }
<h2>Owners</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Owner Name</th>
            <th>Adress</th>
            <th>Cakes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Owners)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["OwnerID"])
            {
                selectedRow = "success";
            }
<tr class="@selectedRow">
    <td>
        @Html.DisplayFor(modelItem => item.OwnerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Adress)
    </td>

    <td>
        @{ foreach (var cake in item.OwnedCake)
            {
@cake.Cake.ID @: @cake.Cake.Name <br />
} }
    </td>
    <td>
        <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
@if (Model.Cakes != null)

{


<h3>Cakes owned by selected owner</h3>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Baker</th>
                        <th>Price</th>
                    </tr>

                    @foreach (var item in Model.Cakes)
                    {
                        string selectedRow = "";
                        if (item.ID == (int?)ViewData["CakeID"])
                        {
                            selectedRow = "success";
                        }

    <tr class="@selectedRow">
        <td>
            @Html.ActionLink("Select", "Index", new { cakeID = item.ID })
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Baker
        </td>
        <td>
            @item.Price
        </td>
    </tr>}

                </table>}
@if (Model.Orders != null)
{
<h3>
    Customers that have ordered the Selected Cakes
</h3>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Order Date</th>
                    </tr>
                    @foreach (var item in Model.Orders)
                    {
    <tr>
        <td>
            @item.Customer.Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
    </tr>
}
                </table>
}